<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>projectilespershoot</key>
		<string>1</string>
		<key>shootsperattack</key>
		<string>8</string>
		<key>framesbetweenshoot</key>
		<string>8</string>
		<key>framesbetweenattack</key>
		<string>8</string>
		<key>lockon</key>
		<false/>
		<key>soundeffect</key>
		<string>1</string>
		<key>projectiles</key>
		<array>
			<dict>
				<key>projectiletype</key>
				<string>0</string>
				<key>projectileinitialX</key>
				<string>0</string>
				<key>projectileinitialY</key>
				<string>-16</string>
				<key>projectileangle</key>
				<string>0</string>
				<key>projectileanglechanges</key>
				<false/>
				<key>projectileanglechange</key>
				<string>0</string>
				<key>projectiledisappears</key>
				<false/>
				<key>projectileTTL</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>projectilespershoot</key>
		<string>1</string>
		<key>shootsperattack</key>
		<string>3</string>
		<key>framesbetweenshoot</key>
		<string>24</string>
		<key>framesbetweenattack</key>
		<string>48</string>
		<key>lockon</key>
		<false/>
		<key>soundeffect</key>
		<string>2</string>
		<key>projectiles</key>
		<array>
			<dict>
				<key>projectiletype</key>
				<string>1</string>
				<key>projectileinitialX</key>
				<string>0</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>0</string>
				<key>projectileanglechanges</key>
				<false/>
				<key>projectileanglechange</key>
				<string>0</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>projectilespershoot</key>
		<string>4</string>
		<key>shootsperattack</key>
		<string>2</string>
		<key>framesbetweenshoot</key>
		<string>6</string>
		<key>framesbetweenattack</key>
		<string>12</string>
		<key>lockon</key>
		<false/>
		<key>soundeffect</key>
		<string>2</string>
		<key>projectiles</key>
		<array>
			<dict>
				<key>projectiletype</key>
				<string>5</string>
				<key>projectileinitialX</key>
				<string>-8</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>0</string>
				<key>projectileanglechanges</key>
				<false/>
				<key>projectileanglechange</key>
				<string>0</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
			<dict>
				<key>projectiletype</key>
				<string>5</string>
				<key>projectileinitialX</key>
				<string>8</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>0</string>
				<key>projectileanglechanges</key>
				<false/>
				<key>projectileanglechange</key>
				<string>0</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
			<dict>
				<key>projectiletype</key>
				<string>2</string>
				<key>projectileinitialX</key>
				<string>0</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>4</string>
				<key>projectileanglechanges</key>
				<false/>
				<key>projectileanglechange</key>
				<string>0</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
			<dict>
				<key>projectiletype</key>
				<string>2</string>
				<key>projectileinitialX</key>
				<string>0</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>4</string>
				<key>projectileanglechanges</key>
				<false/>
				<key>projectileanglechange</key>
				<string>0</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>projectilespershoot</key>
		<string>1</string>
		<key>shootsperattack</key>
		<string>5</string>
		<key>framesbetweenshoot</key>
		<string>12</string>
		<key>framesbetweenattack</key>
		<string>48</string>
		<key>lockon</key>
		<false/>
		<key>soundeffect</key>
		<string>2</string>
		<key>projectiles</key>
		<array>
			<dict>
				<key>projectiletype</key>
				<string>3</string>
				<key>projectileinitialX</key>
				<string>0</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>0</string>
				<key>projectileanglechanges</key>
				<false/>
				<key>projectileanglechange</key>
				<string>0</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>projectilespershoot</key>
		<string>1</string>
		<key>shootsperattack</key>
		<string>5</string>
		<key>framesbetweenshoot</key>
		<string>12</string>
		<key>framesbetweenattack</key>
		<string>48</string>
		<key>lockon</key>
		<false/>
		<key>soundeffect</key>
		<string>2</string>
		<key>projectiles</key>
		<array>
			<dict>
				<key>projectiletype</key>
				<string>4</string>
				<key>projectileinitialX</key>
				<string>0</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>0</string>
				<key>projectileanglechanges</key>
				<false/>
				<key>projectileanglechange</key>
				<string>0</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>projectilespershoot</key>
		<string>3</string>
		<key>shootsperattack</key>
		<string>3</string>
		<key>framesbetweenshoot</key>
		<string>12</string>
		<key>framesbetweenattack</key>
		<string>48</string>
		<key>lockon</key>
		<false/>
		<key>soundeffect</key>
		<string>2</string>
		<key>projectiles</key>
		<array>
			<dict>
				<key>projectiletype</key>
				<string>5</string>
				<key>projectileinitialX</key>
				<string>0</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>0</string>
				<key>projectileanglechanges</key>
				<false/>
				<key>projectileanglechange</key>
				<string>0</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
			<dict>
				<key>projectiletype</key>
				<string>3</string>
				<key>projectileinitialX</key>
				<string>-4</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>0</string>
				<key>projectileanglechanges</key>
				<true/>
				<key>projectileanglechange</key>
				<string>3</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
			<dict>
				<key>projectiletype</key>
				<string>3</string>
				<key>projectileinitialX</key>
				<string>12</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>0</string>
				<key>projectileanglechanges</key>
				<true/>
				<key>projectileanglechange</key>
				<string>3</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>projectilespershoot</key>
		<string>3</string>
		<key>shootsperattack</key>
		<string>3</string>
		<key>framesbetweenshoot</key>
		<string>12</string>
		<key>framesbetweenattack</key>
		<string>48</string>
		<key>lockon</key>
		<false/>
		<key>soundeffect</key>
		<string>2</string>
		<key>projectiles</key>
		<array>
			<dict>
				<key>projectiletype</key>
				<string>4</string>
				<key>projectileinitialX</key>
				<string>0</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>0</string>
				<key>projectileanglechanges</key>
				<false/>
				<key>projectileanglechange</key>
				<string>0</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
			<dict>
				<key>projectiletype</key>
				<string>5</string>
				<key>projectileinitialX</key>
				<string>-12</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>0</string>
				<key>projectileanglechanges</key>
				<true/>
				<key>projectileanglechange</key>
				<string>3</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
			<dict>
				<key>projectiletype</key>
				<string>5</string>
				<key>projectileinitialX</key>
				<string>12</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>0</string>
				<key>projectileanglechanges</key>
				<true/>
				<key>projectileanglechange</key>
				<string>3</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>projectilespershoot</key>
		<string>4</string>
		<key>shootsperattack</key>
		<string>2</string>
		<key>framesbetweenshoot</key>
		<string>12</string>
		<key>framesbetweenattack</key>
		<string>24</string>
		<key>lockon</key>
		<false/>
		<key>soundeffect</key>
		<string>2</string>
		<key>projectiles</key>
		<array>
			<dict>
				<key>projectiletype</key>
				<string>3</string>
				<key>projectileinitialX</key>
				<string>0</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>15</string>
				<key>projectileanglechanges</key>
				<true/>
				<key>projectileanglechange</key>
				<string>3</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
			<dict>
				<key>projectiletype</key>
				<string>3</string>
				<key>projectileinitialX</key>
				<string>0</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>-15</string>
				<key>projectileanglechanges</key>
				<false/>
				<key>projectileanglechange</key>
				<string>0</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
			<dict>
				<key>projectiletype</key>
				<string>4</string>
				<key>projectileinitialX</key>
				<string>0</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>-5</string>
				<key>projectileanglechanges</key>
				<false/>
				<key>projectileanglechange</key>
				<string>0</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
			<dict>
				<key>projectiletype</key>
				<string>4</string>
				<key>projectileinitialX</key>
				<string>0</string>
				<key>projectileinitialY</key>
				<string>0</string>
				<key>projectileangle</key>
				<string>5</string>
				<key>projectileanglechanges</key>
				<false/>
				<key>projectileanglechange</key>
				<string>0</string>
				<key>projectiledisappears</key>
				<true/>
				<key>projectileTTL</key>
				<string>180</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
